{%extends 'base.html'%}
{%block content%}
<h1>Helllo Insta</h1>

{% for post in posts%}
<div class="container">
    <div class="col-md-8" style="border-radius:1%;">
        <div class="card m-3">
            <img style="width: 350px; height:350px" src="{{post.image.url}}" class="img-thumbnail" >
            <a href="{%url 'comment' %}" >
                Comment
            </a>
            <p><strong class="text-secondary pl-3">{{post.profile}} <br></strong> {{post.image_caption}}.</p>
            <br>
        </div>
    </div>
</div>
{% endfor %}

{%endblock%}